## Evalulate model and build lookup table

First load duck data and weather data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# load duck data
duck_df = pd.read_excel('/Users/micaholivas/Desktop/Personal/Programming Projects/quack-u-weather/Data/Duck_daily.xlsx')

# load weather data
weather_df = pd.read_csv('/Users/micaholivas/Desktop/Personal/Programming Projects/quack-u-weather/Data/3486317.csv')

In [3]:
# coerce any columns to numeric that are not already
weather_df = weather_df.apply(pd.to_numeric, errors='ignore')

weather_df

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DAPR,DAPR_ATTRIBUTES,MDPR,MDPR_ATTRIBUTES,...,WT01,WT01_ATTRIBUTES,WT03,WT03_ATTRIBUTES,WT05,WT05_ATTRIBUTES,WT06,WT06_ATTRIBUTES,WT11,WT11_ATTRIBUTES
0,US1CAKN0017,"WASCO 0.8 SSW, CA US",35.583176,-119.348343,99.1,2013-03-20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US1CAKN0017,"WASCO 0.8 SSW, CA US",35.583176,-119.348343,99.1,2013-03-21,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US1CAKN0017,"WASCO 0.8 SSW, CA US",35.583176,-119.348343,99.1,2013-03-22,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US1CAKN0017,"WASCO 0.8 SSW, CA US",35.583176,-119.348343,99.1,2013-03-23,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US1CAKN0017,"WASCO 0.8 SSW, CA US",35.583176,-119.348343,99.1,2013-03-24,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10545,USC00049452,"WASCO, CA US",35.589200,-119.352000,88.7,2023-09-30,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10546,USC00049452,"WASCO, CA US",35.589200,-119.352000,88.7,2023-10-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10547,USC00049452,"WASCO, CA US",35.589200,-119.352000,88.7,2023-10-02,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10548,USC00049452,"WASCO, CA US",35.589200,-119.352000,88.7,2023-10-03,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10549,USC00049452,"WASCO, CA US",35.589200,-119.352000,88.7,2023-10-04,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# get date range of duck data
duck_start_date = min(duck_df['Date'])
duck_end_date = max(duck_df['Date'])

# get range of data from weather data during duck data range
weather_df['DATE'] = pd.to_datetime(weather_df['DATE'])

# get all numeric columns from weather data
# weather_df = weather_df.select_dtypes(include=np.number)

# get min and max values for all columns
range_dict = {}
for col in weather_df.columns:
    if col != 'DATE':
        # if the column is numeric
        if np.issubdtype(weather_df[col].dtype, np.number):
            range_dict[col] = [weather_df[col].min(), weather_df[col].max()]

range_dict

{'LATITUDE': [35.5831756591797, 35.5892],
 'LONGITUDE': [-119.352, -119.348342895508],
 'ELEVATION': [88.7, 99.1],
 'DAPR': [2.0, 3.0],
 'MDPR': [0.01, 0.57],
 'PRCP': [0.0, 2.59],
 'SNOW': [0.0, 0.0],
 'SNWD': [0.0, 0.0],
 'TMAX': [35.0, 115.0],
 'TMIN': [19.0, 97.0],
 'TOBS': [24.0, 114.0],
 'WT01': [1.0, 1.0],
 'WT03': [1.0, 1.0],
 'WT05': [1.0, 1.0],
 'WT06': [1.0, 1.0],
 'WT11': [1.0, 1.0]}

In [5]:
# now generate lists of values for each parameter
for col in range_dict.keys():
    range_dict[col] = np.linspace(range_dict[col][0], range_dict[col][1], num=10)

In [6]:
range_dict

{'LATITUDE': array([35.58317566, 35.58384503, 35.5845144 , 35.58518377, 35.58585314,
        35.58652252, 35.58719189, 35.58786126, 35.58853063, 35.5892    ]),
 'LONGITUDE': array([-119.352     , -119.35159366, -119.35118731, -119.35078097,
        -119.35037462, -119.34996828, -119.34956193, -119.34915559,
        -119.34874924, -119.3483429 ]),
 'ELEVATION': array([88.7       , 89.85555556, 91.01111111, 92.16666667, 93.32222222,
        94.47777778, 95.63333333, 96.78888889, 97.94444444, 99.1       ]),
 'DAPR': array([2.        , 2.11111111, 2.22222222, 2.33333333, 2.44444444,
        2.55555556, 2.66666667, 2.77777778, 2.88888889, 3.        ]),
 'MDPR': array([0.01      , 0.07222222, 0.13444444, 0.19666667, 0.25888889,
        0.32111111, 0.38333333, 0.44555556, 0.50777778, 0.57      ]),
 'PRCP': array([0.        , 0.28777778, 0.57555556, 0.86333333, 1.15111111,
        1.43888889, 1.72666667, 2.01444444, 2.30222222, 2.59      ]),
 'SNOW': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
 'SNWD': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
 'TMAX': array([ 35.        ,  43.88888889,  52.77777778,  61.66666667,
         70.55555556,  79.44444444,  88.33333333,  97.22222222,
        106.11111111, 115.        ]),
 'TMIN': array([19.        , 27.66666667, 36.33333333, 45.        , 53.66666667,
        62.33333333, 71.        , 79.66666667, 88.33333333, 97.        ]),
 'TOBS': array([ 24.,  34.,  44.,  54.,  64.,  74.,  84.,  94., 104., 114.]),
 'WT01': array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]),
 'WT03': array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]),
 'WT05': array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]),
 'WT06': array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]),
 'WT11': array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])}

## Load model

In [7]:
# load XGB model from pickle file
import pickle

model = pickle.load(open('/Users/micaholivas/Desktop/Personal/Programming Projects/quack-u-weather/Models/xgb_model.pickle', 'rb'))

FileNotFoundError: [Errno 2] No such file or directory: '/Users/micaholivas/Desktop/Personal/Programming Projects/quack-u-weather/Models/xgb_model.pickle'

In [8]:
# now generate a dataframe of all possible combinations of weather parameters
import itertools

In [ ]:
weather_combos = list(itertools.product(*range_dict.values()))

:

In [ ]:
weather_combos_df = pd.DataFrame(weather_combos, columns=range_dict.keys())

weather_combos_df